{% extends "home.html" %}
{% block content %}
<h3>Beer Styles.</h3>
<p>Simply put, a beer style is a label given to a beer that describes its overall character and, oftentimes, its place of origin. It's a name that has been broadly accepted by brewers and consumers after years or even centuries of trial and error, scientific research, and marketing. The styles listed here reflect our own spin on the constantly evolving world of beer, with short, jargon-free descriptions included to help anyone understand the similarities and differences. Use these styles as a guide when reviewing a beer's appearance, aroma, taste, and feel. Click on any of the names below to learn more.</p>
<h4>Below is an ordered list of a few of the more popular beer styles: </h4>
<ol>
  <li>Imperial Pale Ale (IPA)</li>
  <li>Stout</li>
  <li>Lager</li>
  <li>Porter</li>
  <li>Wheat</li>
  <li>Pilsner</li>
  <li>Belgian</li>
  <li>Scottish</li>
</ol>
{% endblock %}