{% extends "home.html" %}
{% block content %}
<h3>The Basics of Brewing Beer.</h3>
<p>Brewing beer only requires four basic ingredients:</p>
<ol>
  <li>Water</li>
  <li>Malted Barley</li>
  <li>Hops</li>
  <li>Yeast</li>
</ol>
<p>These four ingredients can each be modified... for instance barley can be roasted to add a more rich flavor and darker color, hops can come from thousands of different plant varieties, water can contain additives such as gypsum to increase water hardness, and lastly the vast amount of different yeast strains available.</p>
<h4>Below are a couple of my own beer recipes: </h4>
<ol>
  <li><a href="static/recipes/neipa.pdf">New England IPA</a></li>
  <li><a href="static/recipes/red.pdf">Irish Red</a></li>
</ol>
{% endblock %}